name: Update README

on:
  schedule:
    - cron: '0 * * * *'  # 每小时运行一次

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Update README
        run: |
          echo "当前时间 (UTC): 2026-01-15 01:53:17" >> README.md
          
      - name: Commit changes
        run: |
          git config --local user.name "totoroJyunn"
          git config --local user.email "45234186+totoroJyunn@users.noreply.github.com"
          git add README.md
          git commit -m "Update README with current date and time"
          git push
